.home {
    .hero {
        max-width: 100%; //can also be set to $site-width
        height: $hero-height;
        background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        color: white;

        .callout {
            width: 416px;
            min-height: 100px;
           // background-color: aqua;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h1 {
                margin-bottom: 50px;
            }

            p {
                margin-bottom: 50px;
            }

            span {
                background-color: $site-blue;
                padding: 5px 15px;
                border-radius: 60%
            }
        }
    }

    .promo {
        max-width: 818px;
        min-height: $tour-banner-height;
        // background-color: brown;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin: -43px auto 0 auto;

        span {
            background-color: $site-blue;
            padding: 5px 15px;
            border-radius: 60%
        }

    }

    .form-area {
        max-width: 818px;
        min-height: $tour-banner-height;
        // background-color: brown;
        margin: 50px auto 0 auto;

        .form {
            .two-input {
                min-height: 59px;
                // background-color: blue;
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                

                .left {
                  width: 344px;
                }

                .right {
                width: 453px;
                }
            }

            .three-input {
                min-height: 59px;
                // background-color: blue;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                .left {
                  width: 120px;
                  height: 50px;
                }

                .right {
                width: 120px;
                height: 50px;
                }
            }

            .big-input {
                min-height: 59px;
                // background-color: blue;
                display: flex;
                align-items: left;
                justify-content: space-between;
                margin-bottom: 20px;

                .left {
                  width: 1020px;
                  height: 190px;
                }
            }
            
            .single-line-input-holder {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
            
                .large-input {
                width: 698px;
                height: 50px;

            }
            }

            .double-line-input-holder {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
            
                .large-input {
                width: 50px;
                height: 50px;

            }
            }

            span {
                background-color: $site-blue;
                padding: 5px 15px;
                border-radius: 100%;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            }
    }
    
    }